<?xml version="1.0"?>

<launch>
   <arg name="name" default="quadrotor"/>
   <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
   <arg name="x" default="0.0"/>
   <arg name="y" default="0.0"/>
   <arg name="z" default="0.3"/>
   <arg name="yaw" default="0.0"/>
   <arg name="output" default="log"/>

   <include ns="$(arg name)" file="$(find acl_sim)/launch/spawn_quadrotor.launch">
     <arg name="name" value="$(arg name)"/>
     <arg name="model" value="$(find acl_sim)/urdf/quadrotor_with_asus.gazebo.xacro"/>
     <arg name="tf_prefix" value="$(arg tf_prefix)"/>
     <arg name="x" value="$(arg x)"/>
     <arg name="y" value="$(arg y)"/>
     <arg name="z" value="$(arg z)"/>   
     <arg name="yaw" value="$(arg yaw)"/>
     <arg name="output" value="$(arg output)"/>
   </include>

</launch>